.body {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  position: relative;
  text-align: center;
  word-wrap: break-word;
  &__image {
    width: 100px;
    margin: 50px;
    max-width: 100%;
  }

  &__sticky-note {
    background-color: #fff7d1;
    width: 100%;
    padding: 20px 10px;
    margin: 5px 0;
    text-align: left;
    user-select: none;

    p{
      pointer-events: none;
    }

    position: relative;
    &:hover {
      background-color: #dfd8b9;
      .body__delete {
        opacity: 1;
      }
      .body__timeStamp {
        opacity: 0;
      }
    }
  }

  // &__reverse {
  //   flex-flow: column-reverse;
  // }

  &__delete, &__timeStamp {
    position: absolute;
    opacity: 0;
    z-index: 1;
    top: 20px;
    right: 20px;
    transition: opacity 0.5s;
  }
  &__timeStamp{
    opacity: 1;
  }
}
